version: '3.8'

services:
  db:
    image: postgres:15
    container_name: clinic_db
    restart: always
    env_file:
      - ../.env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: clinic_web
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ..:/code
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    depends_on:
      - db

volumes:
  postgres_data:
