<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Clinic Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <h1>Clinic Management System</h1>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container" style="text-align: center; padding: 20px; margin-top: 50px; color: #777;">
            &copy; 2026 Clinic Management. All rights reserved.
        </div>
    </footer>
</body>

</html>